* {
    margin: 0;
    padding: 0;
  }


  header {
    width: 100%;
    height: 3rem;
    background-color: #E91E63;
    color: white;
  }

  header > h3 {
                text-align: center;
                line-height: 3rem;
            }

  ul {
    display: none;
  }

  nav i {
    position: absolute;
    top: 7px;
    left: 7px;
    color: white;
  }

  .main_l {
    width: 100%;
    height: 6rem;
    background: #3F51B5;
  }


  .main_r {
    width: 100%;
    height: 6rem;
    background: #009688;
  }

  .main_l > h3 {
    text-align: center;
    line-height: 6rem;
  }

  .main_r > h4 {
    text-align: center;
    line-height: 6rem;
  }

  footer {
    text-align: center;
    line-height: 10rem;
    grid-column: 1/5;
  }
  @media(min-width: 900px){
    .container{
      display: grid;
      grid-template-columns: repeat(4,1fr);
      grid-auto-rows: minmax(50px,auto);
    }
    header{
      grid-column: 1/5;
      height: 50px;
    }
    nav{
      grid-column: 1/5;
      background: black;
      color: white;
    }
    nav ul{
      display: block;
      float: right;
      padding: 20px;
    }
    nav ul li{
      display: inline;
    }
    li {
      padding: 0px 20px;
    }
    i{
      display: none !important;
    }

    h3 {}

    .main_l {
      grid-column: 1/5;
      clear: both;
    }

    main {
      grid-column: 1/5;
      display: flex;
    }
  }