body{
    background-color: green;
}
.container{
    width:100%;
    overflow: auto;
}
.header{
    width:100%;
    height:150px;
    background-color: blanchedalmond;
   
}
    .logo{
        width:30%;
        height:150px;
        float:left;
        background-color: rgb(109, 99, 95);
    }
    .banner{
        width:70%;
        height:150px;
        float:right;
        background-color: rgb(167, 162, 170);
    }
.mid{
    width:100%;
    height:100px;
    background-color: rgb(148, 148, 137);
    }
.main{
    width:100%;
    height:200px;
    background-color: papayawhip;
}
    .left{
        width:50%;
        height:200px;
        float:left;
        background-color: rgb(122, 81, 66);
    }
    .right{
        width:50%;
        height:200px;
        float:right;
        background-color: rgb(115, 124, 133);
    }
.ft1{
    width:100%;
    height:100px;
    background-color: wheat;
}
.ft2{
    width:100%;
    height:100px;
    background-color: rgb(105, 114, 108);
}
@media  screen and (max-width: 1280px){
    body{
        background-color: rgb(126, 95, 100);
    }
}
@media  screen and (max-width: 768px){
    .logo{
        width:100%;
    }
    .banner{
        width:100%;
    }
    .mid{
        display: none;
    }
    .ft1{
        width:50%;
        float:left;
    }
    .ft2{
        width:50%;
        float:right;
    }
}
@media only screen and (max-width: 580px){
    .logo{
        display: 100%;
    }
    .banner{
        display: none;
    }
    .mid{
        display: block;
        width:100%;
    }
    .left{
        float:none;
        width:100%;
    }
    .right{
        float:left;
        width:100%;
    }
    .ft1{
        clear: both;
        float:none;
        width:100%;
    }
    .ft2{
        display: none;
        float:none;
    }
}