
body {
  text-align: center;
}
div {
  width: 200px;
  height: 200px;
}

#box1 {
    border:1px solid black;
    padding:5px;
    margin: 20px;
}
#box1 {
    width:400px;
    height:200px;
    border:4px dotted green;
    padding:5px;
    margin: 20px;
}